<h1>Add a definition:</h1>

<form action="/definitions" method="post">
  <label for="definition">Definition:</label>
  <input id="definition" name="definition" type="text">

  <button type="submit">Add Definition</button>
</form>
