<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/words">Words</a></li>
  <li class="active">Definitions</li>
</ol>

<h1>Here are all the definitions for this word: </h1>
<ul>
  <br>
  <% @definitions.each() do |definition| %>
  <li class="list-group-item"><%= definition.definition() %></a></li><br>
  <% end %>
  <li><a class="btn btn-default btn-lg" href="/words">Back to words</a></li>
</ul>
