<div class='jumbotron'>
  <div class='container'>

    <h1>Welcome to your personal word/definition saver.</h1>

    <a id='button' class="btn btn-primary btn-lg" href="/words"> See Words List</a>
    <br>
    <br>
    <a id = 'button' class="btn btn-primary btn-lg" href="/words/new"> Add New Words</a>
  </div>
</div>



<div class='welcome'>
  <h1'welcome'>Here you'll be able to store all your favorite words all in one place,
    as well as any cool definitions you'll want to save with those words!</h1>
</div>

<div class='blocks'>
  <div class='block1' style="background-color:#D0DBDB; color:black; padding:20px;">
    <div class='block-text'>
      <p>Save your favorite words so you never forget them and can show them
      to your friends later so they know how weird you are!</p>
    </div>
  </div>

  <div class='block2' style="background-color:#D0DBDB; color:black; padding:20px;">
    <div class='block-text'>
      <p>Add definitions to your words so you can remember what all the crazy words
        you make up mean!</p>
    </div>
  </div>

  <div class='block3' style="background-color:#D0DBDB; color:black; padding:20px;">
    <div class='block-text'>
      <p>You can have multiple definitions for a word in case you like to live
        your life that way</p>
    </div>
  </div>
</div>
<!-- ####  I'm aware that the text goes out of the block when you shrink the page
          so please don't do that #### -->




<!-- <div class="row">
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>
</div>

<div class="row2">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>
</div> ###Tried to create two blocks side-by-side; failed misreably###-->
