<div class='jumbotron'>
  <div class='container'>

    <h1>Welcome to your personal word/definition saver.</h1>

    <a id='button' class="btn btn-primary btn-lg" href="/words"> See Words List</a>
    <br>
    <br>
    <a id = 'button' class="btn btn-primary btn-lg" href="/words/new"> Add New Words</a>
  </div>
</div>

<div class='welcome'>
<h1'welcome'>Here you'll be able to store all your favorite words all in one place,
  as well as any cool definitions you'll want to save with those words!</h1>
</div>
