<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/words">Words</a></li>
  <li class="active">Added Word</li>
</ol>

<div class="alert alert-success" role="alert">Added!</div>
<a class="btn btn-default btn-lg" href="/definitions">See Definition List</a>
<br>
<br>
<a class="btn btn-default btn-lg" href="/definition/new">Add New Definition</a>
<br>
<br>
<a class="btn btn-default btn-lg" href="/words">List of words</a>
<br>
<br>
<a class="btn btn-default btn-lg" href="/">Home</a>
<br>
