<h1>Added!</h1>
<a href="/definitions">See Definition List</a>
<br>
<br>
<a href="/definition/new">Add New Definition</a>
<br>
<br>
<a href="/words">List of words</a>
<br>
<br>
<a href="/">Home</a>
<br>
