<div class="alert alert-success" role="alert">Added!</div>
<a class="btn btn-primary btn-lg" href="/definitions">See Definition List</a>
<br>
<br>
<a class="btn btn-primary btn-lg" href="/definition/new">Add New Definition</a>
<br>
<br>
<a class="btn btn-primary btn-lg" href="/words">List of words</a>
<br>
<br>
<a class="btn btn-primary btn-lg" href="/">Home</a>
<br>
