<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/words">Words</a></li>
  <li class="active">Definitions</li>
</ol>


<h3>Here are all the definitions for '<%= @word.word_name() %>'</h3>

<ul><% @word.meaning().each() do |definition| %>
  <li><a class="btn btn-default btn-lg" href="/definitions/<%=definition.id() %>"> <%= definition.definition() %> </a></li>
  <% end %>
</ul>
<br>
<a class="btn btn-default btn-lg" href="/words/<%= @word.id%>/definitions/new">Add a new definition</a>
<br>
<br>
<a class="btn btn-default btn-lg" href="/words">Return to your words</a>
<br>
<br>
<a class="btn btn-default btn-lg" href="/">Return to Main Page</a>
