<h1>Add words</h1>

<p>Add a word here</p>

<form action="/words" method="post">
  <label for="word_name">Word</label>
  <input id="word_name" name="word_name" type="text">
  <button type="submit">Add word</button>
</form>
